.header {
    background: linear-gradient(90deg, #2A0DE0 0%, #150578 128.96%);
    position: sticky;
    z-index: 10;
    top: 0;

}

.header>section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.header>section>section {
    width: 100%;
    height: 100%;

}

.header>section>section>div {
    width: 80%;
    text-align: left;
    margin: 0 auto;
}

.header>section>section>ul {
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.header>section>section>ul>li {
    width: 33%;
    float: right;
    color: #fff;
    display: flex;
    cursor: pointer;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.header>section>section:nth-of-type(2)>ul {
    text-align: left;
}

.header>section>section:nth-of-type(2)>ul a {
    height: 100%;
    display: inline-flex;
    width: fit-content;
    align-items: center;
}

/* mobile mode */
@media (max-width:481px) {
    .header {
        background: linear-gradient(90deg, #2A0DE0 0%, #150578 128.96%);
    }

    .header>section>section {
        width: 100%;
        text-align: left;
        padding-left: 1rem;
        line-height: 1;
    }

    .header>section>section>ul {
        width: 100%;
    }


    .header>section>section>ul>li:first-child {
        width: 100%;
        justify-content: right;
    }

    .header>section>section>ul>li:first-child p {
        margin-right: 1rem;
        font-size: 12px;
    }

    .header>section>section>ul>li:nth-of-type(2),
    .header>section>section>ul>li:nth-of-type(3) {
        display: none;
    }

    .header>section>section:nth-of-type(2)>ul {
        padding-left: 1rem;
    }

    .header>section>section:nth-of-type(2)>ul>a>img {
        width: 80px;
        height: 40px;
    }
}

@media(min-width:482px) {
    .header>section {
        grid-template-columns: 3fr 1fr;
        padding: 0 1rem;
    }
    .header>section>section>ul , .header>section>section>div{
        width: 100%;
    }
    .header>section>section>ul>li{
        justify-content: right;
    }
    .header>section>section>ul>li svg {
        margin: 0 .5rem;
    }
    .header>section>section>ul>li p{
        font-size: .75rem;
    }
}

@media(min-width:600px) {
    .header>section {
        grid-template-columns: 3fr 1fr;
        padding: 0 2rem;
    }

    .header>section>section>ul {
        width: 100%;
    }

    .header>section>section>ul>li p {
        font-size: 14px;
    }
    .header>section>section>ul>li p{
        font-size: 1rem;
    }
}

@media(min-width:1200px) {
    .header>section {
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
    }

    .header>section>section>ul ,.header>section>section>div {
        width: 80%;
    }
}