.header {
    height: 10%;
    background: linear-gradient(90deg, #2A0DE0 0%, #150578 128.96%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.header>section {
    width: 100%;
    height: 100%;
}

.header>section>div {

    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.header>section>div>div {
    width: 33%;
    float: right;
    color: #fff;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.header>section:nth-of-type(2)>div{
    text-align: left;
}
.header>section:nth-of-type(2)>div a{
    height: 100%;
    display: inline-flex;
    width: fit-content;
    align-items: center;
}
/* mobile mode */
@media (max-width:481px) {
    .header {
        background: linear-gradient(90deg, #2A0DE0 0%, #150578 128.96%);
    }
    .header>section>div{
        width: 100%;
    }
    .header>section>div>div:first-child {
        width: 100%;
        justify-content: right;
    }
    .header>section>div>div:first-child p{
        margin-right: 1rem;
        font-size: 12px;
    }
    .header>section>div>div:nth-of-type(2),
    .header>section>div>div:nth-of-type(3) {
        display: none;
    }
    .header>section:nth-of-type(2)>div{
        padding-left: 1rem;
    }
    .header>section:nth-of-type(2)>div>a>img{
        width: 80px;
        height: 40px;
    }
}