.span {
    font-weight: 400;
}

.topparagraph {
    position: relative;
    margin: 1rem 0;
}

.topparagraph::before {
    content: '';
    background: #E3E3E3;
    width: 95%;
    display: block;
    height: 2px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    z-index: -1;
    top: 50%;
    transform: translateY(50%);
}

.topparagraph::after {
    content: '';
    background: #fff;
    display: block;
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

@media(max-width:480px) {
    .topparagraph {
        margin-top: 0;
        padding: 0 .5rem;
    }
    .topparagraph::before{
        width: 100%;
    }
    .topparagraph::after{
        width: 50%;
    }
}
@media(min-width:600px){
    .topparagraph::before{
        width: 100%;
    }
    .topparagraph::after{
        width: 30%;
    }
}
@media(min-width:900px){
    
    .topparagraph::before {
        width: 95%;
    }
}
@media(min-width:1200px){
    .topparagraph{
        margin-top: 0 !important;
    }
}