.cards-area>span{
    font-weight: 400;
    color: #1B2CC1;
    position: relative;
    margin: 1rem 0;
    width: 100%;
    display: inline-block;
}
.cards-area>span::before {
    content: '';
    background: #E3E3E3;
    width:100%;
    display: block;
    height: 2px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    z-index: -1;
    top: 50%;
    transform: translateY(50%);
}

.cards-area>span::after {
    content: '';
    background: #fff;
    display: block;
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}